.ftco-departments .nav-pills {
    display: unset !important;
}

.ftco-departments .nav-pills .nav-link{
    width: 100% !important;
    padding: 15px 25px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.ftco-departments .tab-content{
    margin-top: 0 !important;
}

.ftco-departments .nav-pills .nav-link:after{
    content: unset !important;
}

.ftco-footer{
    background-color: #fafafa !important;
}

.ftco-footer p{
    color: #000000 !important;
}

.ftco-footer-social li a{
    background: rgb(255 255 255 / 0%) !important;
    border: 1px solid;
}

.ftco-footer .ftco-footer-widget h2{
    color: rgb(44 58 169) !important;
}

.ftco-footer a{
    color: #000 !important;
}

.ftco-footer .ftco-footer-widget ul li a span{
    color: #000 !important
}

.ftco-footer-social li a span{
    color: #fff !important;
}

.block-23 ul li span{
    color: #000 !important;
}

#section-counter:after {
    background: #cf1a1f00 !important; 
}

/* Default height for screens wider than 768px */
.owl-carousel.home-slider,
.owl-carousel.home-slider .slider-item {
    height: 800px !important;
}

/* Adjust height for screens between 576px and 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .owl-carousel.home-slider,
    .owl-carousel.home-slider .slider-item {
        height: 500px !important;
    }
}

/* Adjust height for screens less than 576px (mobile) */
@media (max-width: 575px) {
    .owl-carousel.home-slider,
    .owl-carousel.home-slider .slider-item {
        height: 200px !important;
    }
}

/* Style for the WhatsApp link */
.whatsapp-link {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.sticky-sidebar{
    position: -webkit-sticky; /* For Safari/Edge */
    position: sticky;
    top: 20px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold !important;
    padding-left: 20px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover{
    background-color: #cf1a1f;
    border-radius: 50px;
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .active{
    background-color: #cf1a1f;
    border-radius: 50px;
    color: #fff;
}

.top-section{
    background-color: #cf1a1f;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.dropdown-menu{
    top: 90%;
}

.dropdown-item{
    padding: 10px 20px;
    font-weight: bold;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus{
    background: #cf1a1f;
    color: #ffffff;
    padding: 10px 20px;
}